*.a
*.app
*.def
*.dll
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.ko
*.la
*.lib
*.lo
*.o
*.obj
*.os
*.out
*.pch
*.so
*.so.*
*.src.rock
*.tar.gz
*.x86_64
*.zip
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.com.apple.timemachine.donotpresent
.fseventsd
Icon
Network Trash Folder
Temporary Items
luac.out
plugin
